.wp-block-h5ua-alpha-card {
  border: 2px solid lightgrey;
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  .card-link-text {
    background: black;
    color: white;
    padding: 10px 12px;
    text-align: center;
    border-radius: 4px;
  }
}